---
---

@import "minima";

.site-header {
    border: none;
}

.profile-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    p {
        margin: 0;
    }

    @media (min-width: 400px) {
        flex-direction: row;
    }

    @media (min-width: 650px) {
        max-width: 30em;
    }
}

.profile-link {
    display: block;
    min-width: 6em;
    min-height: 6em;
}

.profile-picture {
    display: block;
    width: 6em;
    height: 6em;
    border-radius: 100%;
}

.profile-name {
    font-size: 20px;
    color: #111;
    margin-bottom: 5px;
}

.profile-description {
    text-align: center;
    font-size: 15px;
    color: #828282;

    @media (min-width: 400px) {
        text-align: left;
    }
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @media (min-width: 600px) {
        flex-direction: row;
    }
}

.social-media-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li a {
        display: flex;
        align-items: center;
    }

    @media (min-width: 600px) {
        align-items: flex-start;
        margin-top: 24px;
    }
}

.read-more-link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.next-icon {
    width: 16px;
    height: 16px;
}

.back-icon {
    width: 20px;
    height: 20px;
}

.back-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 0;
    font-size: 20px;

    &,
    &:visited {
        color: #424242;
    }

    &:hover {
        text-decoration: none;
    }
}

.back-link-title {
    color: #424242;
}

.label-wrapper {
    display: flex;
    flex-direction: column;
}


.label-title {}

.label-subtitle {
    position: relative;
    top: -5px;
    font-size: 14px;
    color: #888;
}

.post-content hr {
    display: block;
    margin: 16px 0;
    border: none;
    border-top: 5px solid #cfd9e2;
    border-radius: 4px;
}
